.app_container{
  background: linear-gradient(0.25turn,rgba(1, 54, 71, 1),
  rgba(0, 50, 125, 1));
  min-height: 100vh;
  min-width: 100vw;
  overflow: auto;
}

.main_screen{
  display: flex;
  justify-content: space-evenly;
  box-sizing: border-box;
}

@media (max-width:1000px ) {
  .main_screen{
    display: block;
    align-content: center;
  }

  .main_screen >div{
    margin: auto;
  }
}
